/*
 Theme Name:   eCademy Child
 Theme URI:    https://themes.envytheme.com/ecademy/
 Description:  eCademy Child Theme
 Author:       EnvyTheme
 Author URI:   https://envytheme.com/
 Template:     ecademy
 Version:      7.4
*/

/* ecademy-education-lms-online-training-courses-wordpress-theme */